a:link{
    text-decoration:none;
    font-size:14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:normal;
}

a:hover{
    font-size:18px;
    color:blue;
}

.textbox{
    border: 2px solid #456879;
    border-radius:10px;
    height:22px;
    width:230px;
    resize:none;
}

.buton{
    border:2px solid #777;
    border-radius:10px;
    outline:none;
    cursor:pointer;
}

.buton:hover{
    font-size:25px;
    background-color:#456879;
}